@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <div class="kwfeed-dash-img">
        <div class="h-[20vw]"></div>
        <div class="ps-[100px]">
            <div class="bg-[#FEED00] w-[25vw] h-[6vw] rounded-[0.6vw] flex justify-center items-center hover:cursor-pointer">
                <p class="text-center text-dubai text-[28px] font-bold">ABOUT KWFEEDS</p>
            </div>
        </div>
        <div class="px-[180px] w-100 flex mt-[120px] mb-xxl-4">
            <div>
                <div class="text-left me-4">
                    <div class="ps-3 font-dubai text-[28px] text-[#72AEF7]">MORE THAN FEED</div>
                    <p class="text-bold text-[70px] font-bold leading-[1.0] text-[#254081] font-dubai">
                        HELPING CUSTOMERS PRODUCE HEALTHY HIGH PERFORMANCE HERDS
                    </p>
                    <p class="ms-[50px] mt-[20px] text-[26px]">
                        At KW we lead the development of alternative feeding in the UK,
                        making it the natural choice on high performance livestock farms.
                        Today, the choice of alternative feeds is greater than ever and we offer
                        the widest possible range of dry, moist, liquid, blended and compounded feeds
                        alongside more traditional straights, minerals, vitamins, protected fats, secure
                        covers and silage additives.
                    </p>
                </div>
                <div class="bg-[#FEED00] w-[300px] h-[100px] rounded-[0.6vw] flex justify-center items-center mt-xl-5 hover:cursor-pointer">
                    <p class="text-center text-dubai text-[28px] font-bold uppercase">Find out more</p>
                </div>
            </div>
            <div>
                <div style="h-[500px] min-w-[400px]">
                    <img src="./img/KW land img1.png" class="h-[500px] min-w-[600px] rounded-2xl shadow-[20px_-20px_0px_0px_#254081] " />
                </div>
            </div>
        </div>
        <div class="bg-[#254081] ps-[100px] w-100 items-center flex flex-row-reverse py-[200px]">
            <div class="mx-[150px]">
                <div class="text-left">
                    <div class="font-dubai text-[28px] text-[#72AEF7]">KWFEEDS</div>
                    <p class="text-bold text-[70px] font-bold leading-[1.0] text-white font-dubai uppercase">
                        supporting farming
                    </p>
                    <p class=" mt-[20px] font-bold text-white text-[26px]">
                        At KW we lead the development of alternative feeding
                        in the UK, making it the natural choice on high
                        performance livestock farms.
                    </p>
                    <p class="mt-[20px] text-white text-[26px]">
                        At KW we lead the development of alternative
                        feeding in the UK, making it the natural choice
                        on high performance livestock farms.  Today, the choice
                        of alternative feeds is greater than ever and we offer the
                        widest possible range of dry, moist, liquid, blended and compounded
                        feeds alongside more traditional straights, minerals, vitamins, protected
                        fats, secure covers and silage additives.
                    </p>
                </div>
                <div class="bg-[#FEED00] w-[300px] h-[100px] rounded-[0.6vw] flex justify-center items-center mt-xl-5 hover:cursor-pointer">
                    <p class="text-center text-dubai text-[28px] font-bold uppercase">Find out more</p>
                </div>
            </div>
            <div>
                <div style="h-[500px] min-w-[400px]">
                    <img src="./img/KW land img2.png" class="h-[500px] min-w-[600px] rounded-[8%] shadow-[20px_-20px_0px_0px_#FEED00] " />
                </div>
            </div>
        </div>
        <div class="px-[180px] w-100 flex mt-[120px] mb-xxl-4">
            <div>
                <div class="text-left me-4">
                    <div class="font-dubai text-[28px] text-[#72AEF7]">KWFEEDS</div>
                    <p class="text-bold text-[70px] font-bold leading-[1.0] text-[#254081] font-dubai uppercase">
                        supporting farming
                    </p>
                    <p class=" mt-[20px] font-bold text-[26px]">
                        At KW we lead the development of alternative feeding
                        in the UK, making it the natural choice on high
                        performance livestock farms.
                    </p>
                    <p class="mt-[20px] text-[26px]">
                        At KW we lead the development of alternative
                        feeding in the UK, making it the natural choice
                        on high performance livestock farms.  Today, the choice
                        of alternative feeds is greater than ever and we offer the
                        widest possible range of dry, moist, liquid, blended and compounded
                        feeds alongside more traditional straights, minerals, vitamins, protected
                        fats, secure covers and silage additives.
                    </p>
                </div>
                <div class="bg-[#FEED00] w-[300px] h-[100px] rounded-[0.6vw] flex justify-center items-center mt-xl-5 hover:cursor-pointer">
                    <p class="text-center text-dubai text-[28px] font-bold uppercase">Find out more</p>
                </div>
            </div>
            <div>
                <div style="h-[500px] min-w-[400px]">
                    <img src="./img/KW land img3.png" class="h-[500px] min-w-[600px] rounded-[5%] shadow-[20px_-20px_0px_0px_#254081] " />
                </div>
            </div>
        </div>
        <div class="bg-[#73B0F8] bg-opacity-25 py-[100px] px-[200px] background-kw4">
            <div class="mt-[100px] font-dubai font-bold text-[50px] text-[#254081] uppercase leading-[0.7]">
                Contact Us Today
            </div>
            <div class="mt-[20px] mb-[80px] w-100  justify-center">
                <div class="text-[12px] w-[500px]  mx-auto ">
                    Use the contact form below to get in touch if you have any question or need some help about our company or products.
                </div>
            </div>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <input type="text" id="full_name" class="h-[50px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your Full Name*" required />
                </div>
                <div>
                    <input type="text" id="email" class="h-[50px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your Email*" required />
                </div>
                <div>
                    <input type="text" id="phone_number" class="h-[50px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your Phone Number*" required />
                </div>
                <div>
                    <select id="enquiry_type" class="h-[50px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option selected>Enquiry Type</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <div class="mb-6">
                <textarea id="message" rows="4" class="h-[300px] block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
            </div>
            <div class="bg-[#FEED00] w-[200px] h-[70px] rounded-[0.6vw] flex justify-center items-center mt-xl-5 hover:cursor-pointer mx-auto">
                <p class="text-center text-dubai text-[20px] font-bold uppercase">Submit</p>
            </div>
        </div>
        <div class="flex gap-6 mb-6 md:grid-cols-2 w-100">
            <div class="p-[3%] w-full">
                <div class="bg-[#73B0F8] bg-opacity-[25%] rounded-[5rem] p-[10%]">
                    <div>
                        <div class="aspect-w-16 aspect-h-9">
                            <img src="./img/KW land img2.png" class="h-full w-full rounded-[10%] shadow-[15px_-15px_0px_0px_#FEED00] " />
                        </div>
                    </div>
                    <div class="mt-[8%] text-start">
                        <div class="uppercase text-[#72AEF7] font-bold font-dubai text-[28px]">
                            About
                        </div>
                        <div class="uppercase text-[#254081] font-bold font-dubai text-[76px] leading-[0.8]">
                            AB FEEDS
                        </div>
                        <div class="mt-xxl-4 font-bold text-[26px]">
                            At KW we lead the development of alternative feeding in the UK, making it the natural choice on high performance livestock farms.
                        </div>
                        <div class="text-[26px]">
                            At KW we lead the development of alternative
                            feeding in the UK, making it the natural choice
                            on high performance livestock farms.  Today, the
                            choice of alternative feeds is greater than ever and
                            we offer the widest possible range of dry, moist, liquid,
                            blended and compounded feeds alongside more traditional
                            straights, minerals, vitamins, protected fats, secure covers
                            and silage additives.
                        </div>
                    </div>
                    <div class="bg-[#FEED00] w-[200px] h-[70px] rounded-[0.6vw] flex justify-center items-center mt-xl-5 hover:cursor-pointer ">
                        <p class="text-center text-dubai text-[20px] font-bold uppercase">Find out more</p>
                    </div>
                </div>
            </div>
            <div class="p-[3%] w-full">
                <div class="bg-[#73B0F8] bg-opacity-[25%] rounded-[5rem] p-[10%]">
                    <div>
                        <div class="aspect-w-16 aspect-h-9">
                            <img src="./img/KW land img2.png" class="h-full w-full rounded-[10%] shadow-[15px_-15px_0px_0px_#FEED00] " />
                        </div>
                    </div>
                    <div class="mt-[8%] text-start">
                        <div class="uppercase text-[#72AEF7] font-bold font-dubai text-[28px]">
                            About
                        </div>
                        <div class="uppercase text-[#254081] font-bold font-dubai text-[76px] leading-[0.8]">
                            AB AGRI
                        </div>
                        <div class="mt-xxl-4 font-bold text-[26px]">
                            At KW we lead the development of alternative feeding in the UK, making it the natural choice on high performance livestock farms.
                        </div>
                        <div class="text-[26px]">
                            At KW we lead the development of alternative
                            feeding in the UK, making it the natural choice
                            on high performance livestock farms.  Today, the
                            choice of alternative feeds is greater than ever and
                            we offer the widest possible range of dry, moist, liquid,
                            blended and compounded feeds alongside more traditional
                            straights, minerals, vitamins, protected fats, secure covers
                            and silage additives.
                        </div>
                    </div>
                    <div class="bg-[#FEED00] w-[200px] h-[70px] rounded-[0.6vw] flex justify-center items-center mt-xl-5 hover:cursor-pointer ">
                        <p class="text-center text-dubai text-[20px] font-bold uppercase">Find out more</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

