html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-kwfeed-main {
    background-color: #254081;
}

.kwfeed-header-height{
    height:150px;
}

.kwfeed-logo-img {
    background-image: url("../img/KW new logo .png");
    background-size: cover;
}
.kwfeed-dash-img {
    background-image: url("../img/KW Dash.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width:100%;
}
.kwfeed-hero-img {
    background-image: url("../img/KW hero image.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
}

.kw-item2 {
    background-image: url("../img/item/item2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.kwfeed-w-10p {
    width: 10px;
}
.kwfeed-w-20p {
    width: 20px;
}
.kwfeed-w-30p {
    width: 30px;
}
.kwfeed-w-40p {
    width: 40px;
}
.kwfeed-w-50p {
    width: 50px;
}
.kwfeed-w-60p {
    width: 60px;
}
.kwfeed-w-70p {
    width: 70px;
}
.kwfeed-w-80p {
    width: 80px;
}
.kwfeed-w-90p {
    width: 90px;
}
.kwfeed-w-100p {
    width: 100px;
}
.kwfeed-w-150p {
    width: 150px;
}
.kwfeed-w-200p {
    width: 200px;
}

.kwfeed-h-10p {
    height: 10px;
}
.kwfeed-h-20p {
    height: 20px;
}
.kwfeed-h-30p {
    height: 30px;
}
.kwfeed-h-40p {
    height: 40px;
}
.kwfeed-h-50p {
    height: 50px;
}
.kwfeed-h-60p {
    height: 60px;
}
.kwfeed-h-70p {
    height: 70px;
}
.kwfeed-h-80p {
    height: 80px;
}
.kwfeed-h-90p {
    height: 90px;
}
.kwfeed-h-100p {
    height: 100px;
}
.kwfeed-h-150p {
    height: 150px;
}
.kwfeed-h-200p {
    height: 200px;
}
.kwfeed-navbar-item {
    width: 30%;
    margin-left:50px;
    margin-right:50px;
    height: 100%;
    min-width:max-content;
    font-family: Dubai;
    font-weight:bold;
    font-size: 27px;
    color: white;
    list-style-type: none;
}
.kwfeed-navbar-item::marker{
    display:none !important;
}

@media (max-width: 1400px) {
    .navbar ul {
        flex-direction: column;
    }
}


.background-kw4 {
    background-image: url('../img/KW land img4.png');
    background-size: 40vw;
    background-repeat:no-repeat;
    background-position: bottom right;
}

.background-badge-logo-rt {
    background-image: url('../img/KW new logo .png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 22px);
    background-position-y: 20px;
}

.back-carousel-left-arrow {
    background-image: url('../img/arrow-left.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
.back-carousel-right-arrow {
    background-image: url('../img/arrow-right.png');
    background-size: 20px;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}